@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Source+Code+Pro&display=swap");

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Source+Code+Pro&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "M Plus 1 Code", sans-serif;
}

body {
  background-color: #252526;
}

p {
  font-family: "Source Code Pro", monospace;
}

h1 {
  text-align: center;
}

/* Header */

header {
  background-color: #1e1e1e;
  color: #27c3df;
  margin: 0 0 2rem 0;
  padding: 1rem;
  font-size: 2rem;
  display: flex;
}
header img {
  margin: 2rem;
  border-radius: 50%;
  width: 10rem;
  align-self: center;
}
.headers {
  display: inline-block;
  justify-content: space-around;
  margin: 1rem;
  margin-top: 3rem;
}
header h2 {
  font-weight: 200;
}
.headers a {
  color: white;
}
/* Navigation */

nav {
  position: absolute;
  text-align: center;
  margin: 3rem;
  top: 1rem;
  border-radius: 15px;
  right: 10rem;
}
.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  margin: 3rem;
  margin-top: 3.5rem;
  font-size: 2rem;
}
.links {
  position: absolute;
  top: 1rem;
  right: 3rem;
  display: flex;
  flex-direction: row;
}
.links i {
  font-size: 2rem;
  margin: 0.4rem;
  color: #b267e6;
}
.links i:hover {
  color: #d9911a;
}
nav ul {
  list-style: none;
  position: absolute;
  background-color: #cccccc33;
  padding: 1rem;
  border: 0.1rem solid #454545;
  box-shadow: 0.1rem 0.1rem 0.1rem #3a3d41;
  border-radius: 4px;
  transition: transform 1s ease-in-out;
}
nav li {
  border: none;
  padding: 0.5rem;
  font-weight: bold;
}
nav li:hover {
  color: #b267e6;
}

nav a{
  color: #d9911a;
}

nav a:hover{
  color: #b267e6;
}

/* Skills and Courses */

.segment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills h1, .resources-and-courses h1 {
  color: #cd9731;
}

.skill {
  display: inline-block;
  text-align: center;
  margin: 1.5rem;
  color: #ec5598;
  font-size: 2rem;
}

.skill h3 {
  font-size: 2rem;
}

.segment i {
  font-size: 2rem;
}

.resources-and-courses {
  background-color: #1e1e1e;
  padding: 2rem;
}

.courses {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
}

.platform h2 {
  color: #ffa500;
  margin-top: 2rem;
}

.platform h6 {
  color: #ec5598;
}

.courses h1,
h2,
h3 {
  display: inline-block;
  margin: 0.2rem 0 0.2rem 0;
}
.courses h2 {
  text-decoration: underline;
}

.courses i {
  color: #ffa500;
  margin: .5rem;
}

.courses h3 {
  font-size: 1rem;
  font-family: "Source Code Pro", monospace;
}

.courses h6 {
  margin: 0.2rem;
  font-size: 0.85rem;
  font-weight: 50;
  letter-spacing: 0.1rem;
}


/* About */

.about {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: space-around;
}

.pic {
  width: 22rem;
  border-radius: 5px;
  box-shadow: 1rem black;
}

.bio {
  width: 22rem;
  color: white;
  border-radius: 5px;
  padding: 1rem;
  background-color: #1e1e1e;
}

.bio p {
  margin-top: 1.5rem;
  text-align: left;
  line-height: 1.5rem;
  
}

.bio:hover {
  /* transform: rotate(-5deg); */
}

/* Form */

.contact {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

form {
  width: 50rem;
  height: 30rem;
  margin: 5rem;
  padding: 1rem;
  background-color: #303031;
  border: 1px solid #303003;
  border-radius: 10px;
  display: inline-block;
}

form h1 {
  color: #6a9955;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  background-color: #cccccc;
}

textarea:focus,
input:focus {
  outline: none;
  background-color: #d4d4d4;
}

input[name="message"] {
  height: 10rem;
}

input[type="submit"] {
  width: 100%;
  padding: 1rem;
  margin: 2rem 0;
  box-sizing: border-box;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

form button {
  padding: 1rem;
  border-radius: 5px;
  border: solid 1px darkgray;
  background-color: #d4d4d4;
  cursor: pointer;
}

@media (max-width: 650px) {
  header img {
    display: none;
  }

  header h1 {
    font-size: 2rem;
    text-align: left;
  }
  .hamburger {
    margin-top: 1rem;
    margin-right: 1rem;
  }
  nav {
    margin: 0.5rem;
    top: 1rem;
    background-color: #cccccc33;
    z-index: 1;
  }
  nav li {
    color: #4caf50;
  }
  .contact {
    display: inline-block;
    margin: 0 1rem;
    align-items: center;
  }
  .contact img {
    width: 100%;
    transition: none !important;
    transform: none !important;
  }
  form {
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    width: 100%;
  }
  .about {
    margin: auto;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
  }

  .about h1 {
    font-size: 1.2rem;
  }

  .about img {
    width: 100%;
    margin: 1rem auto;
    padding-right: 0.25rem;
    height: auto;
    transition: none !important;
    transform: none !important;
  }
  .bio {
    margin: 1rem auto;
    width: 100%;
    transition: none !important;
    transform: none !important;
  }
  .skill {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .skill i {
    margin: 1rem;
  }
  .links {
    left: 2rem;
  }
  .courses {
    flex-wrap: wrap;
  }
}

/* Demo */

.demos h1 {
  color: #4caf50;
}

.content-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically on mobile */
  margin-bottom: 5rem;
  width: auto;
}

.demo-description {
  color: white;
  border-radius: 5px;
  transition: transform 1s ease-in-out;
  padding: 2rem;
  background-color: #1e1e1e;
}

.video-container {
  padding-bottom: 10px; /* Add spacing between video and text */
}

.testimonials {
  font-style: italic;
  font-size: 1rem;
}

.demo-description i {
  font-size: 1.5rem;
  margin-left: 1rem;
  color: white;
}

.demo-description i:hover {
  color: #4caf50;

}

.demo-link {
  color: white;
}


@media (min-width: 768px) {
  /* Apply the following styles for screens wider than 768px (tablets and desktops) */
  .content-container {
    flex-direction: row; /* Arrange elements side by side */
    align-items: center;
    justify-content: center;
  }
  
  .video-container {
    flex: 1; /* Allow the video container to grow */
    padding: 5rem; /* Add spacing between video and text */
    
  }

  .text-container {
    flex: 1; /* Allow the text container to grow */
    margin: 5rem;
  }
}